/*
.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright>#article-nav{
	flex: 1;
	font-size: 1.2rem;
	margin: 0;
}
*/
.gitment-comments-error {
  display: none;
}
.copyright-container {
  margin: 20px;
  border-radius: 4px 4px;
  border: 1px solid #ccc;
}
.copyright-div {
  color: #b9a7a7;
  font-weight: bold;
  font-size: 0.5rem;
  padding: 0;
/**padding: 10px;*/
}
.copyright-div .text {
  padding: 5px 0;
}
.qr_code-img {
  float: left;
  width: 129px;
  max-width: 100%;
}
#header-inner {
  z-index: 1;
}
