/*
.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright>#article-nav{
	flex: 1;
	font-size: 1.2rem;
	margin: 0;
}
*/
.gitment-comments-error {
  display: none;
}
.copyright-div {
  color: #f00;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
}
